@import "tailwindcss";

body {
  @apply font-sans;
}

/* @keyframes drive-left-to-right {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(120vw);
  }
}

@keyframes drive-right-to-left {
  0% {
    transform: translateX(120vw);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-car-1 {
  animation: drive-left-to-right 10s linear infinite;
}

.animate-car-2 {
  animation: drive-right-to-left 12s linear infinite;
} */

@keyframes drive-left-to-right {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(120vw);
  }
}

.animate-car {
  animation: drive-left-to-right 10s linear infinite;
}


.animate-car-2 {
  animation: drive-left-to-right 12s linear infinite;
  animation-delay: 3s;
}
